PRIVATE_KEY=
BASE_SEPOLIA_RPC_URL=
BASE_RPC_URL=

BASESCAN_API_KEY=

# Gnars NFT on Base mainnet: 0x880fb3cf5c6cc2d7dfc13a993e839a9411200c17
# Leave empty to deploy MockERC721 on testnet
GNARS_NFT_ADDRESS=
